/*General Font*/
@font-face{
  font-family: 'Courier Prime', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
}

* {
  font-family: 'Courier Prime', monospace;
  box-sizing: border-box;
  overflow: hidden;
}

/*Preset Colours*/
:root{
  --comp-col-01:#222323;
  --comp-col-02:#5252ff;
  --comp-col-03:#b5e877;
}

#page-wrapper{
  position: absolute;
  top:0%;
  left:0%;
  width:100vw;
  height:100vh;
  background-color: #222323;
  background-size: contain;
}

#emoji-button-wrapper{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  z-index: 2;
}

.EmojiButton{
  position: absolute;
  border: none;
  padding: 0;
  background: no-repeat url('./content/_other/emoji-circle.png');
  background-size: cover;
  cursor: pointer;
}

#story-display-wrapper{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: max(2vw, 2vh);
}

.ImagePost{
  display: block;
  max-width: 100%;
}
.TextPost{
  display: block;
  width: 100%;
}

#bg-image{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  z-index: 0;
}
#bg-image-canvas{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
}
/* #bg-image{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  transform: rotate(180deg);
  z-index: 0;
}
#bg-image-canvas{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100vw;
  transform: rotate(90deg);
} */